@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@700&display=swap");
:root {
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-sans: "Open Sans", sans-serif;
  --color-primary: #8F9DC1;
  --color-secondary: #95969C;
  --color-grey: #AAACAF;
  --color-white: #FFFFFF;
  --color-black: #1D222E;
  --color-drgrey: #393939;
  --color-blue: #4679FF;
  --color-ltgrey: #5A5A5A;
  --color-violet: #556EFC;
  --color-red: #D9113A;
  --bg-primary: #8F9DC1;
  --bg-secondary: #95969C;
  --bg-grey: #AAACAF;
  --bg-white: #FFFFFF;
  --bg-black: #1D222E;
  --bg-drgrey: #393939;
  --bg-blue: #4679FF;
  --bg-ltgrey: #5A5A5A;
  --bg-violet: #556EFC;
  --bg-red: #D9113A;
  --bg-body: #1B1E28;
  --bg-header: #313640;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

picture > img {
  border-radius: 30px;
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: var(--ff-montserrat);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--color-primary);
  background: var(--bg-body);
  overflow-x: hidden;
}
body.hidden {
  overflow-y: hidden;
}

.container {
  max-width: 1285px;
  margin: 0 auto;
}

main {
  background: url(../img/cube.png) no-repeat right 0 top 10%;
  background-size: 25%;
}
@media (max-width: 850px) {
  main {
    background: transparent;
  }
}

.header-top {
  height: 86px;
}
@media (max-width: 590px) {
  .header-top {
    height: 232px;
  }
}
.header-fixed {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 90px;
  transition: 0.3s ease;
  background: var(--bg-header);
  border-bottom: 1px solid #595959;
}
@media (max-width: 1300px) {
  .header-fixed {
    padding: 15px 15px;
  }
}
@media (max-width: 590px) {
  .header-fixed {
    padding: 15px 0;
  }
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 590px) {
  .header-wrap {
    flex-direction: column;
    gap: 30px;
  }
}
.header-block {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header .burger {
  display: none;
}
@media (max-width: 850px) {
  .header .burger {
    display: flex;
    width: 30px;
    height: 30px;
    background: url(../img/burger.svg) no-repeat center;
    margin-left: 20px;
    position: relative;
    z-index: 5;
  }
  .header .burger.active {
    background: url(../img/closed.svg) no-repeat center;
  }
}
@media (max-width: 590px) {
  .header .burger {
    position: absolute;
    top: 50px;
    left: 85%;
    margin-left: 0;
  }
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 55px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-violet);
  text-transform: uppercase;
}
@media (max-width: 590px) {
  .header-logo {
    position: absolute;
    top: 35px;
    left: 15px;
  }
}
@media (max-width: 400px) {
  .header-logo {
    left: 25px;
  }
}
@media (max-width: 850px) {
  .header .nav {
    position: absolute;
    background: var(--bg-body);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 110vh;
    z-index: 2;
    overflow-x: hidden;
    transform: translateX(110%);
    transition: 0.3s ease-in-out;
  }
  .header .nav.open {
    transform: translateX(0);
  }
}
.header .menu {
  display: flex;
  justify-content: center;
  gap: 90px;
}
@media (max-width: 1300px) {
  .header .menu {
    gap: 30px;
  }
}
@media (max-width: 850px) {
  .header .menu {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-top: 255px;
  }
}
.header .menu .item {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--color-secondary);
  border: 1px solid transparent;
  padding: 10px 30px;
}
@media (max-width: 920px) {
  .header .menu .item {
    font-weight: 600;
    font-size: 15px;
    padding: 10px 10px;
    margin-right: 10px;
  }
}
@media (max-width: 850px) {
  .header .menu .item {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-grdark);
  }
}
.header .menu .item:hover {
  text-shadow: 0px 0px 24px #4679FF;
  color: var(--color-blue);
}
.header-container {
  display: flex;
  gap: 20px;
}
@media (max-width: 590px) {
  .header-container {
    flex-direction: column;
    padding-top: 80px;
  }
}
.header-btn {
  border: 1px solid #5F73E2;
  box-shadow: 0px 0px 7px #4679FF;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  width: 173px;
  padding: 15px 0px;
  color: var(--color-white);
  background: linear-gradient(180deg, #445FFE 0%, #3A51D3 100%);
  transition: 0.3s linear;
}
.header-btn:hover {
  background: #c70b2e;
  box-shadow: 3px 3px 7px #445FFE;
}
.header-btn:first-child {
  width: 123px;
  padding: 15px 0px;
  border: 1px solid #414652;
  background: transparent;
  box-shadow: none;
}
.header-btn:first-child:hover {
  background: #c70b2e;
  box-shadow: 3px 3px 7px #445FFE;
}
@media (max-width: 590px) {
  .header-btn:first-child {
    width: 250px;
  }
}
@media (max-width: 590px) {
  .header-btn {
    width: 250px;
  }
}
.header-bottom {
  padding: 24px 15px;
}
.header-bottom h1 {
  max-width: 1260px;
  width: 100%;
  margin: 24px 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 64px;
  color: var(--color-secondary);
}
.header-bottom h1 span {
  display: block;
}
@media (max-width: 590px) {
  .header-bottom h1 {
    word-wrap: break-word;
    font-size: 28px;
    line-height: 42px;
  }
}
.header-bottom ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.header-bottom li {
  background: var(--bg-black);
  border: 1px solid #393939;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  border: 1px solid transparent;
  transition: 0.3s ease;
}
@media (max-width: 610px) {
  .header-bottom li {
    width: 100%;
  }
}
.header-bottom li:hover {
  background: linear-gradient(180deg, #333A47 0%, #182131 100%);
  border: 1px solid #4679FF;
  box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.4);
}
.header-bottom a {
  display: block;
  padding: 5px 30px;
  text-align: center;
  color: var(--color-secondary);
}
@media (max-width: 590px) {
  .header-bottom a {
    padding: 10px 0px;
    color: #8F9DC1;
  }
}

.article {
  padding-bottom: 80px;
}
@media (max-width: 1300px) {
  .article {
    padding: 0 15px 80px;
  }
}
.article ul {
  list-style: disc;
}
.article ul,
.article ol {
  margin-left: 20px;
  margin-bottom: 24px;
  color: var(--color-secondary);
}
.article p > a {
  text-decoration: underline;
  color: var(--color-blue);
}
.article p {
  text-indent: 20px;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 24px;
  color: var(--color-secondary);
}
.article picture + p {
  margin: 24px 0;
}
.article h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 64px;
  margin: 24px 0;
  color: var(--color-secondary);
}
@media (max-width: 590px) {
  .article h2 {
    margin: 30px 0;
    font-size: 26px;
    line-height: 64px;
  }
}
.article h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 64px;
  margin: 24px 0;
  color: var(--color-secondary);
}
@media (max-width: 590px) {
  .article h3 {
    margin: 30px 0;
    font-size: 24px;
    line-height: 64px;
  }
}
.article table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 24px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 50px 0;
}
.article table:last-child {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .article table {
    padding: 0;
  }
}
.article tbody tr {
  display: grid;
  grid-template: auto/repeat(4, 1fr);
  align-items: center;
}
.article tbody tr:nth-child(odd) {
  border: 2px dashed var(--color-white);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .article tbody tr:nth-child(odd) {
    margin-bottom: 0;
  }
}
.article tbody tr:nth-child(even) {
  margin: 15px 0;
}
@media (max-width: 768px) {
  .article tbody tr:nth-child(even) {
    margin: 0;
  }
}
.article tbody td {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 20px 0;
  color: #AAACAF;
}
@media (max-width: 768px) {
  .article tbody td {
    padding: 0;
    font-size: 16px;
    color: #8F9DC1;
  }
}
@media (max-width: 395px) {
  .article tbody td {
    font-size: 14px;
  }
}
.article tbody td:first-child {
  text-align: left;
  padding-left: 21px;
}
@media (max-width: 768px) {
  .article tbody td:first-child {
    padding-left: 0;
  }
}
.article tbody td:last-child {
  text-align: right;
  padding-right: 21px;
}
@media (max-width: 768px) {
  .article tbody td:last-child {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .article .tab-1 tbody tr {
    grid-template-areas: " a a a a" "b c c d";
    padding: 15px;
  }
  .article .tab-1 tbody tr td:nth-child(odd) {
    text-align: left;
  }
  .article .tab-1 tbody tr td:nth-child(even) {
    text-align: right;
  }
  .article .tab-1 tbody tr td:first-child {
    grid-area: a;
    text-align: center;
    padding-bottom: 15px;
  }
  .article .tab-1 tbody tr td:nth-child(2) {
    grid-area: b;
    text-align: center;
  }
  .article .tab-1 tbody tr td:nth-child(3) {
    grid-area: c;
    text-align: center;
  }
  .article .tab-1 tbody tr td:last-child {
    grid-area: d;
    text-align: center;
  }
}
.article .tab-2 tbody tr {
  grid-template: auto/repeat(3, 1fr);
}
@media (max-width: 768px) {
  .article .tab-2 tbody tr {
    grid-template-areas: " a a a" "b . c";
    padding: 25px 15px;
  }
  .article .tab-2 tbody tr td:first-child {
    grid-area: a;
    text-align: center;
    padding-bottom: 15px;
  }
  .article .tab-2 tbody tr td:nth-child(2) {
    grid-area: b;
    text-align: center;
  }
  .article .tab-2 tbody tr td:last-child {
    grid-area: c;
    text-align: center;
  }
}
.article .tab-3 tbody tr {
  grid-template: auto/repeat(2, 1fr);
}
@media (max-width: 768px) {
  .article .tab-3 tbody tr {
    grid-template-areas: "a a" "b b";
    padding: 25px 15px;
  }
  .article .tab-3 tbody tr td:first-child {
    grid-area: a;
    text-align: center;
    padding-bottom: 15px;
  }
  .article .tab-3 tbody tr td:last-child {
    grid-area: b;
    text-align: center;
  }
}

.footer {
  padding: 30px 0;
  background: #1D202D;
  border-top: 1px solid #919191;
}
@media (max-width: 450px) {
  .footer {
    padding: 40px 0;
  }
}
.footer p {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  text-indent: 0;
  text-align: center;
  color: var(--color-white);
}/*# sourceMappingURL=main.css.map */